<h1>Listing alojamientos</h1>

<table>
  <thead>
    <tr>
      <th>Id aloja</th>
      <th>Nombre</th>
      <th>Sitio</th>
      <th>Coreo</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alojamientos.each do |alojamiento| %>
      <tr>
        <td><%= alojamiento.id_aloja %></td>
        <td><%= alojamiento.nombre %></td>
        <td><%= alojamiento.sitio %></td>
        <td><%= alojamiento.coreo %></td>
        <td><%= alojamiento.telefono %></td>
        <td><%= link_to 'Show', alojamiento %></td>
        <td><%= link_to 'Edit', edit_alojamiento_path(alojamiento) %></td>
        <td><%= link_to 'Destroy', alojamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alojamiento', new_alojamiento_path %>
